.search-form {
  text-align: center;
}

.mat-input-element,
.mat-form-field-placeholder-wrapper {
  font-family: 'Nunito', serif;
}

.mat-input-container {
  margin-left: 5px;
  width: 300px;
}

.mat-input-element {
  font-size: x-large;
  color: #673ab7;
}

.mat-spinner {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}