<form class="search-form" (ngSubmit)="searchPhotos()" #searchForm="ngForm">
  <button mat-mini-fab color="primary" type="submit"
          [disabled]="!searchForm.form.valid">
    <i class="material-icons">search</i>
  </button>

  <mat-form-field>
    <input matInput placeholder="Search for nice photos" name="Search text"
           [(ngModel)]="searchText" required>
  </mat-form-field>
</form>

<app-search-results [isSearchInProgress]="isSearchInProgress" [processedSearchText]="processedSearchText"
                    [photos]="photos" [totalPhotosCount]="totalPhotosCount">
</app-search-results>

<mat-spinner diameter="75" *ngIf="isSearchInProgress"></mat-spinner>